@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

.hideScrollBarBrowser::-webkit-scrollbar {
  display: none;
}

.hideScrollBarBrowserSecondary {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
